@import "seattletimes";

@neon: #ff0080;
@neonpurple: #f000ff;

body {
  font-size: 18px;
}

main {
  font-family: @df-sans;
}


section {
  max-width: 800px;
  margin: 0 auto;
  @media @tablet {
    margin: 0 16px;
  }
}

.byline, p {
  margin: 18px auto;
  max-width: 630px;
}

.byline {
  margin-top: 50px;
  span {
    display: block;
  }
}

span.drop-cap {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Offside, @df-sans;
  color: @neon;
}

figure {
  display: block;
  margin: 50px auto;
  max-width: 730px;
  img {
    display: block;
    margin: 0 auto;
  }
  figcaption {
    margin: 20px auto 0;
    max-width: 630px;
    display: block;
    font-size: 15px;
    color: @df-middle-gray;
    font-style: italic;
  }
}

img.bleed {
  display: block;
  margin: 50px 0;
  width: 100%;
}

aside {
  display: block;
  float: right;
  margin: 0 0 20px 20px;
  max-width: 250px;
  border-left: 3px solid @neon;
  padding-left: 20px;
  font-size: 15px;
    color: @df-middle-gray;
    font-style: italic;

  @media @mobile {
    float: none;
    margin: 0 auto;
    border-left: none;
    padding-left: 0;
  }
  
  div {
    .display-flex();
    .justify-content(space-between);
  }

  span {
    padding: 15px 15px;
  }

  audio {
    display: block;
    max-width: 100%;
    margin-top:10px;
  }
}

// Adapated from South Park project
.bc-no-preroll {
  position: relative;
  margin: 50px 0;
  width: 100%;
  height: 0;
  padding-top: percentage(9 / 16);

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}

footer.credit {
  margin: 0 16px 48px;
  ul {
    margin: 0 auto;
    padding: 0;
    max-width: 630px;
    list-style: none;
  }
  li {
    margin-bottom: 8px;
  }
}

.ad#middle-ad {
  float: right;
  margin-left: 20px;

  @media @mobile {
    float: none;
    margin-left: auto;
  }
}

@import "header";