<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link href="https://fonts.googleapis.com/css?family=Offside" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <%= t.include("partials/_nav.html") %>
    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <header class="splash">
      <img src="assets/photos/Tbeason-Lovehate-seattle-header.jpg" alt="<%= json.photos.header.caption %>">
      <div class="headline">
        <h1>I hate you, Seattle</h1>
        <h2>A love story</h2>
      </div>
    </header>
    <main>
      <section>
        <div class="byline">
          <span>By <a href="https://www.seattletimes.com/author/tyrone-beason/">Tyrone Beason</a></span>
          <span class="staff">Pacific NW magazine writer</span>
          <span class="date">Published July TK, 2018</span>
        </div>
      </section>
      <section>
        <%= t.renderMarkdown(archieml.story.section1_1) %>
        <%= t.include("_image-group.html", { json, num: 1 }) %>
        <%= t.renderMarkdown(archieml.story.section1_2) %>
        <%= t.include("_image-group.html", { json, num: 2 }) %>
        <%= t.renderMarkdown(archieml.story.section1_3) %>
      </section>
      <img class="bleed" src="assets/photos/<%= json.photos.section1.new_file_name %>.jpg" alt="<%= json.photos.section1.caption %>">
      <section>
        <%= t.renderMarkdown(archieml.story.section2_1) %>
        <%= t.include("_image-group.html", { json, num: 3 }) %>
        <%= t.renderMarkdown(archieml.story.section2_2) %>
        <%= t.include("_image-group.html", { json, num: 4 }) %>
        <%= t.include("partials/_ad.html", { type: "square", id: "middle-ad" }) %>
        <%= t.renderMarkdown(archieml.story.section2_3) %>
      </section>
      <img class="bleed" src="assets/photos/<%= json.photos.section2.new_file_name %>.jpg" alt="<%= json.photos.section2.caption %>">
      <section>
        <%= t.renderMarkdown(archieml.story.section3_1) %>
        <%= t.include("_image-group.html", { json, num: 5 }) %>
        <%= t.renderMarkdown(archieml.story.section3_2) %>
        <aside class="audio">
          <div>
            <img src="assets/photos/Tbeason-Lovehate-seattle-monique.jpg" alt="Portrait of Monique Brown">
            <span>Listen to Monique Brown</span>
          </div>
          <audio src="assets/monique-brown.mp3" controls preload="metadata">
            Your browser is not able to play this audio.
          </audio>
        </aside>
        <%= t.renderMarkdown(archieml.story.section3_3) %>
      </section>
      <%= t.include("_video.html", { id: "TK" }) %>
      <section>
        <%= t.renderMarkdown(archieml.story.section4_1) %>
        <%= t.include("_image-group.html", { json, num: 6 }) %>
        <%= t.renderMarkdown(archieml.story.section4_2) %>
        <%= t.include("_image-group.html", { json, num: 7 }) %>
      </section>
      <footer class="credit">
        <ul>
          <li><b>Reporter</b>: Tyrone Beason, <a href="mailto:tbeason@seattletimes.com">tbeason@seattletimes.com</a>; on Instagram: <a href="https://www.instagram.com/tyrone_seattle/">tyrone_beason</a></li>
          <li><b>Design:</b> Clare Ortblad and Emily M. Eng</li>
          <li><b>Development:</b> Alec Glassford</li>
        </ul>
      </footer>
    </main>

    <%= t.include("partials/_navBottom.html") %>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
